<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
		<add name="dbcs" connectionString="server=SACHIN\SQLEXPRESS; database=TransactionDB; Integrated Security=True; Connect Timeout=600"/>
	</connectionStrings>

	<appSettings>
        <add key="LogFilePath" value="D:\Projects\Console Application - 2\Logs\SqlCommandExecutor.log"/>
        <add key="GetEmployeeCount" value="SELECT COUNT(*) FROM Employees"/>
        <add key="InsertEmployee" value="INSERT INTO Employees (Name, Age, Department) VALUES (@Name, @Age, @Dept)"/>
        <add key="RunStoredProc" value="sp_GetEmployeeById"/>  <!-- Example Stored Procedure -->
        <add key="BatchExecution" value="SELECT COUNT(*) FROM Employees; SELECT * FROM t_transaction_trade_data ORDER BY TD_NUM"/>
    </appSettings>


    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>